.container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.leaderboard{
    width: 600px;
    text-align: center;
}

.leaderboard div{
    border: 1px solid black;
}

.sort:hover{
    background-color: rgba(0,0,0,0.2)
}