<div class="main-body" *ngIf="results.length > 0">
    <h1>Question {{activeQuestion + 1}} of 10</h1>
    <h3 [innerHTML]="results[activeQuestion].question"></h3>
    <form class="question-answer form-check">
        <div class="choice" *ngFor="let choice of answers; let i = index">
            <input class="form-check-input" type="radio" name="choice" [id]="'choice' + i" [value]="choice" [(ngModel)]="selected">
            <label class="form-check-label" [for]="'choice' + i" [innerHTML]="choice.answer"></label>
        </div>
        <button class="btn btn-primary next" type="button" (click)="nextQuestion()">Submit</button>
    </form>
</div>