@import url("https://fonts.googleapis.com/css?family=Teko&display=swap");

.main-body h1{
    text-align: center;
    font-size: 8em;
    font-family: 'Teko'
}

.main-body{
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-body button{
    margin-bottom: 10px;
}

.banners{
    margin-bottom: 30px;
}

.trivia-banner{
    background-image: url("../../assets/imgs/trivia-banner.png");
    background-size: 100% 100%;
    width: 130px;
    height: 55px;
    margin: 0 10px;
}

.db-banner{
    background-image: url("https://m3o.com/_next/image?url=%2Flogo.png&w=384&q=75");
    width: 60px;
    height: 55px;
    background-size: 100% 100%;
    margin: 0 10px;
}

.back{
    margin-top: 20px;
}

.main-body{
    text-align: center;
}


